ul {
	border: 1px solid red;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px 20px;
	border: 1px solid red;
	background: url(seta.png) no-repeat left center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a{
	width: 200px;
	height: 40px;
	display: block;
	border: 1px solid red;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b700 url(menu.png) no-repeat left bottom;
}

/* a:hover, .selecionado a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
} */

#home .home a,
#sobre .sobre a,
#contato .contato a,
#serviços .serviços a,
#noticias .noticias a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}