<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./static/css/index.css">
    </head>
    <body>
        <h1>Ola Players</h1>
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col" id="row1col1" onclick="addValue(event)">
                </div>
                <div class="col" id="row1col2" onclick="addValue(event)">
                </div>
                <div class="col" id="row1col3" onclick="addValue(event)">
                </div>
                </div>
                <div class="row">
                    <div class="col" id="row2col1" onclick="addValue(event)">
                    </div>
                    <div class="col" id="row2col2" onclick="addValue(event)">
                    </div>
                    <div class="col" id="row2col3" onclick="addValue(event)">
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="row3col1" onclick="addValue(event)">
                    </div>
                    <div class="col" id="row3col2" onclick="addValue(event)">
                    </div>
                    <div class="col" id="row3col3" onclick="addValue(event)">
                    </div>
                </div>
        </div>

        <script src="./static/js/index.js"></script>
    </body>
</html>